<div class="control-panel">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="noResult" class="error-msg">
        <span>{{emptyResultMessage}}</span>
      </div>
      <div *ngIf="error" class="error-msg">
        <span>{{errorMessage}}</span>
      </div>
      <form [formGroup]="searchForm" (ngSubmit)="search($event)" novalidate>
        <div class="form-field">
          <app-text-input id="departureCodeId" formControlName="departureCode" [textInputModel]="txtInputDepartAirport" [formControl]="searchForm.controls['departureCode']">
          </app-text-input>
        </div>
        <div class="form-field">
          <app-text-input id="arrivalCodeId" formControlName="arrivalCode" [textInputModel]="txtInputArrivalAirport" [formControl]="searchForm.controls['arrivalCode']">
          </app-text-input>
        </div>
        <div class="form-field">
          <app-datepicker id="departureDateId" formControlName="departureDate" [textInputModel]="txtInputDepartDate" [formControl]="searchForm.controls['departureDate']">
          </app-datepicker>
        </div>
        <div class="form-field">
          <app-datepicker id="returnDateId" formControlName="returnDate" [minDate]="minReturnDate" [textInputModel]="txtInputReturnDate" [formControl]="searchForm.controls['returnDate']">
          </app-datepicker>
        </div>
        <div class="button-space">
          <button mat-raised-button color="accent" type="button" (click)="reset($event)" matTooltip="Reset">{{buttonReset}}</button>
        </div>
        <div class="button-space">
          <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.pristine || searchForm.invalid" matTooltip="Search flights">{{buttonSearch}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="loading$ | async as showOverlay" class="dialog-overlay">
  <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
</div>
